* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center ;
    background-color: black;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 5px solid white;
    box-shadow: 0px 0px 30px 5px white inset;
    margin: 50px auto;
    border-radius: 100%;
    position: relative;
    padding: 1rem;
    background-color: grey;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    height: 0px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transform: 0.3s all;
    display: flex;
    align-items: center;
}

.hrs {
    width: 40px;
    height: 40px;
    background: #0034ad;
    box-shadow: 0px 0px 10px 5px;
    border-radius: 100%;
    transform: translateX(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    animation-direction: alternate;
}

#hrs-value {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #34d1cc;
}

.min {
    width: 60px;
    height: 60px;
    border: 10px solid green;
    box-shadow: 0px 0px 10px 5px;
    background: transparent;
    border-radius: 100%;
    transform: translateX(10px);
    animation: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-play-state: paused;
    display: flex;
    justify-content: center;
    align-items: center;
}

#min-value {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #34d1cc;
    animation: fadeIn2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-play-state: paused;
    animation-direction: alternate;
}

.sec {
    width: 80px;
    height: 80px;
    border: 10px solid red;
    box-shadow: 0px 0px 10px 5px;
    background: transparent;
    border-radius: 100%;
    animation: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-play-state: paused;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec-value {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    color: #34d1cc;
    animation: fadeIn2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-play-state: paused;
}

@keyframes fadeIn {
    to {border-color: transparent;}
    to {box-shadow: none;}
}
@keyframes fadeIn2 {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes rotate {
    to {box-shadow: 0px 0px 10px 5px white;}
}

@media only screen and (max-width: 480px) {
    .clock {
        width: 23rem;
        height: 23rem;
    }
}

@media only screen and (min-width: 480px) {
    .sec {
        width: 110px;
        height: 110px;
        border-width: 15px;
    }
    #sec-value {
        font-size: 2.5rem;
    }
    .min {
        width: 80px;
        height: 80px;
        border-width: 15px;
        transform: translateX(15px);
    }
    #min-value {
        font-size: 1.6rem;
    }
    .hrs {
        width: 50px;
        height: 50px;
        transform: translateX(30px);
    }
    #hrs-value {
        font-size: 1.5rem;
    }
}